#first-page{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--bg);
}

#first-page-label{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8%;
}

#label-h{
    font-family: "Merriweather", serif;
    font-weight: bold;
    font-size: 50pt;
    width: 100%;
    text-align: center;
    color: var(--red1)
}
#label-p{
    font-family: "Playfair Display", serif;
    font-size: 20pt;
    color: var(--red1);
    text-align: center;
}

#label-years{
    font-family: "Playfair Display", serif;
    font-size: 20pt;
    color: var(--red1);
    border-bottom: 2pt solid var(--red1);
    height: 10%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}