#footer{
    position: relative;
    top: 2vh;
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background: var(--white);
    padding-top: 3%;
}

#footer-top, #footer-bottom{
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.block, .block2{
    width: 27%;
    height: 90%;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*justify-content: start;*/
    gap: 10%;
}

.block-label{
    font-family: "Merriweather", serif;
    font-size: 1.5rem;
    @media(width<512px){
        font-size: 1rem;
    }

}

.block-text{
    font-family: "Playfair Display", serif;
    font-size: 1.2rem;
    @media(width<512px){
        font-size: 8pt;
    }

}

#left-label, #left-text{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}
#center-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;}
#right-label, #right-text{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;}


#footer-left{
    border-right: 2px solid var(--red2);
}

#center-label{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    white-space: pre;
    &>span{
        font-size: 1rem;
        @media(width<512px){
            font-size: 0.8rem;
        }
    }
}

#footer-right{
    border-left: 2px solid var(--red2);
}


.red{
    color: var(--red1)
}

#footer-hr{
    margin-top: 2%;
    width: 70%;
    height: 2px;
    background: var(--red2);
}


.block2{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.block2-label{
    font-family: "Merriweather", serif;
    color: var(--red2);
    font-size: 2rem;
    font-weight: bold;
    @media(width<512px){
        font-size: 1.5rem;
    }
}

.block2-text{
    font-family: "Playfair Display", serif;
    color: black;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    @media(width<512px){
        font-size: 10pt;
    }
}