#footer{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background: var(--white);
    padding-top: 3%;
}

#footer-top, #footer-bottom{
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.block, .block2{
    width: 27%;
    height: 90%;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*justify-content: start;*/
    gap: 10%;
}

.block-label{
    font-family: "Merriweather", serif;
    font-size: 13pt;

}

.block-text{
    font-family: "Playfair Display", serif;
    font-size: 11pt;

}

#left-label, #left-text{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}
#center-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;}
#right-label, #right-text{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;}


#footer-left{
    border-right: 2px solid var(--red2);
}

#center-label{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    white-space: pre;
    &>span{
        font-size: 15pt;
    }
}

#footer-right{
    border-left: 2px solid var(--red2);
}


.red{
    color: var(--red1)
}

#footer-hr{
    margin-top: 2%;
    width: 70%;
    height: 2px;
    background: var(--red2);
}


.block2{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.block2-label{
    font-family: "Merriweather", serif;
    color: var(--red2);
    font-size: 20pt;
    font-weight: bold;
}

.block2-text{
    font-family: "Playfair Display", serif;
    color: black;
    font-size: 15pt;
}