.info-section{
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 1rem;
    gap: 5%;
    margin-top: 2%;
    background: var(--white);
    border-radius: 20px;
    filter: drop-shadow(1px 4px 4px rgba(0,0,0,0.2));



}

.info-section-img{
    position: relative;
    width: 12%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
    @media(width<512px){
        padding: 8%;
    }
    &>img{
        position: absolute;
        width: 80%;
        @media (width<1000px){
            width: 100%;
        }
        @media(width<512px){
            width: 90%;
        }
    }
}


.info-section-text{
    height: 100%;
    width: 93%;
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media(width<512px){
        font-size: 1.2rem;
    }
    @media(width<912px){
        font-size: 1rem;
    }
}