.info-section{
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 1%;
    gap: 5%;
    /*margin-bottom: 8%;*/
    margin-top: 2%;
    background: var(--white);
    /*border: 2px solid var(--red2);*/
    border-radius: 20px;
    filter: drop-shadow(1px 4px 4px rgba(0,0,0,0.2));
}

.info-section-img{
    position: relative;
    width: 12%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 2px solid var(--red1);*/
    padding: 1%;
    &>img{
        position: absolute;
        width: 70%;
    }
}


.info-section-text{
    height: 100%;
    width: 93%;
    font-family: "Playfair Display", serif;
    font-size: 15pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}