#nav-bar{
    width: 3%;
    height: 50%;
    position: absolute;
    top: 20%;
    left: 95%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
    gap: 5%;
    overflow: hidden;
}

.nav-button{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: 0 solid;
    background: transparent;
    transition: all 0.1s;
    color: black;
    &:hover{
        background: var(--red1);
        color: white;
    }
}
.nav-button-cur{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: 0 solid;
    background: rgba(185, 185, 185, 0.4);
    transition: all 0.1s;
    color: black;
    &:hover{
        background: var(--red1);
        color: white;
    }
}