#new-first-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--bg);
}

#new-first-p {
    margin-top: 2%;
    width: 90%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    & img {
        width: clamp(30%,50%,80%);
        @media (width < 1000px ) {
            width: 80%;
        }
    }

}

#new-first-img {
    margin: 3%;
    width: 95%;
    height: 32rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: brightness(0.8);
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    overflow: hidden;

    & > img {
        width: 100%;
        height: 100%;
    }

    @media (width<1000px){
      height: 20rem;
    }
}