#new-first-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--bg);
}

#new-first-p {
    margin-top: 0%;
    width: 90%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    & img {
        width: 50%;
    }

}

#new-first-img {
    margin-top: 3%;
    width: 95%;
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: brightness(0.8);
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    overflow: hidden;

    & > img {
        width: 100%;
        height: 100%;
    }
}