#second-page {
    width: 100%;
    height: 100vh;
    background: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    gap: 5%;
}


#second-about{
    font-family: "Merriweather", serif;
    font-size: 20pt;
    color: black;
}

#second-img{

    width: 90%;
    height: 35%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--red2);
}
#second-info{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10%;
}