#second-page {
    width: 100%;
    height: 100vh;
    background: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
}


#second-about{
    font-family: "Merriweather", serif;
    font-size: 20pt;
    color: black;
}

#second-img{

}