#second-page {
    width: 100%;
    height: 150vh;
    background: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    gap:5%;
    @media(width<1000px){
        height:100vh;
        /*margin-bottom: 10%;*/
    }
}

#second-img {
    width: 100%;
    height: 30rem;
    background: rgba(0,0,0,90%);
    filter: brightness(0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*border: 2px solid var(--red2);*/
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    &>img{
        width: 100%;
        height: 100%;
    }

}
.title-second{
    position: absolute;
}

#second-info {
    width: 100%;
    height: 35rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10%;
}