#third-page{
    position: relative;
    width: 100vw;
    height: 110vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    background: var(--bg);
    /*margin-top: 1%;*/

    @media (width<1000px){
        height: 90vh;
    }
}


#project-info{
    position: relative;
    /*top: 10%;*/
    width: 80%;
    text-align: center;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Playfair Display", serif;
    font-size: 1.7rem;

    @media(width<512px){
        font-size: 1rem;
    }
    @media(width<912px){
        font-size: 1rem;
    }

}

#project-aspects{
    position: relative;
    top: 1%;
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2%;
}