#third-page{
    position: relative;
    width: 100vw;
    height: 110vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    /*justify-content: center;*/
    background: var(--bg);
}


#project-info{
    position: relative;
    /*top: 10%;*/
    width: 80%;
    text-align: center;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Playfair Display", serif;
    font-size: 18pt;

}

#project-aspects{
    position: relative;
    top: 1%;
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2%;
}