.title{
    width: 100%;
    height: 20%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
    z-index:20;

    &>img{
        width: 5%;
    }

    &>p{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: "Merriweather", serif;
        font-size: 25pt;
        font-weight: bold;
        color: var(--red2);
    }
}