.title {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
    z-index: 20;
    @media(width<512px){
        gap: -2%;
    }

    & > .title-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & > svg {
            width: 70%;
            @media(width<512px){
                width: 45%;
            }
        }
    }

    & > p {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: "Merriweather", serif;
        font-size: 25pt;
        font-weight: bold;
        color: var(--red2);
        @media (width < 512px) {
            font-size: 15pt;
        }
    }
}