* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg: #FFF7F4;
    --red1: #4C1313;
    --red2: #824343;
}

html, body {
    width: 100%;
    height: 100%;
}

#root{
    width: 100%;
    height: 100%;
}