* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg: #FAF5F0;
    /*--bg: #FFF7F4;*/
    --red1: #4C1313;
    --red2: #824343;
    --white: #ffffff;
    --footer: #F4F4F3;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: clamp(5px, 20px, 35px);

    @media (width<600px){
        font-size: 10px;
    }
}


#root{
    width: 100%;
    height: 100%;
    background: var(--bg);
    overflow: hidden;
}