/*@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg: #FAF5F0;
    /*--bg: #FFF7F4;*/
    --red1: #4C1313;
    --red2: #824343;
    --white: #ffffff;
    --footer: #F4F4F3;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: clamp(5px, 15px, 35px) !important;

    @media (width<600px){
        font-size: 10px !important;
    }
}


#root{
    width: 100%;
    height: 100%;
    background: var(--bg);
    overflow: hidden;
}